<!doctype html>
<!-- Note: Based on Chart.js sample https://github.com/nnnick/Chart.js/blob/master/samples/line.html -->
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<script src="js/Chart.min.js"></script>
		<style>
		#title, #legend {
      font-family: clean, sans-serif;
		}
		#title {
		  text-align: center;
		}
		#legend {
		  margin: 0 auto;
		  width: 50%;
		}
		#data1 {
		  color: rgba(232, 57, 12, 1); /* red */
		}
		#data2 {
		  color: rgba(0, 121, 355, 1); /* blue */
		}
		</style>
	</head>
	<body>
		<div style="width: 700px">
			<div>
			  <h1 id="title">{{ graphTitle }}</h1>
				<canvas id="canvas" height="450" width="700"></canvas>
			</div>
		</div>

	<script>
	  var white = "#fff";
	  var red = "rgba(232, 57, 12, 1)";
	  var redFill = "rgba(232, 57, 12, 0.1)";
	  var blue = "rgba(0, 121, 355, 1)";
	  var blueFill = "rgba(0, 121, 355, 0.1)";
		var lineChartData = {
			labels : {{ labels }},
			xAxisLabel: "{{ xAxisLabel }}",
			yAxisLabel: "{{ yAxisLabel }}",
			datasets : [
				{
					label: "{{ redLabel }}",
					fillColor : redFill,
					strokeColor : red,
					pointColor : red,
					pointStrokeColor : red,
					pointHighlightFill : white,
					pointHighlightStroke : red,
					data : {{ red }}
				},
				{
					label: "{{ blueLabel }}",
					fillColor : blueFill,
					strokeColor : blue,
					pointColor : blue,
					pointStrokeColor : blue,
					pointHighlightFill : "#fff",
					pointHighlightStroke : blue,
					data : {{ blue }}
				}
			]

		}

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: false
		});
	}
	</script>


  <div id="legend">
	<p><span id="data1">&block;</span> - {{ redLabel }}</p>
	<p><span id="data2">&block;</span> - {{ blueLabel }}</p>
  </div>
	</body>
</html>